@import url('normalize.css');

/* Helpers */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

* {
  box-sizing: border-box;
}

/* Base Styles */

body {
  margin: 0 1rem;
  background: #eeeeee;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
}

h2 {
  margin: 2rem 0;
  color: #0062a6;
  font-size: 1.25rem;
  font-style: italic;
}

p {
  color: #888888;
  line-height: 1.5rem;
  font-weight: 400;
}

.body__wrapper {
  width: 100%;
  max-width: 1050px;
  background: #ffffff;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 3px solid #0062a6;
  border-top: 3px solid #0062a6;
}

/* Header Styles */

.logo {
  width: 100%;
  max-width: 300px;
  float: left;
}
.fb-like {
  float: right;
  margin-top: 1.25rem;
}

/* Hero Styles */

.hero {
  border-bottom: 1px solid #0062a6;
  border-top: 1px solid #0062a6;
  padding: 1rem 0;
  margin-top: 0.5rem;
}
.headline {
  margin-top: 0;
  color: #0062a6;
}
.highlight {
  color: #ee253c;
  font-weight: bold;
}

/* Store Styles */

.store {
  clear: both;
  margin-top: 1rem;
}
.copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .logo {
    float: none;
    margin-bottom: 1rem;
  }
  .fb-like {
    display: none;
  }
}