@import url('normalize.css');

/* Helpers */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

* {
  box-sizing: border-box;
}

/* Base Styles */

body {
  margin: 0 1rem;
  background: #eeeeee;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
}

h2 {
  margin: 2rem 0 1rem;
  color: #0062a6;
  font-size: 1.25rem;
  font-style: italic;
}

p {
  color: #888888;
  line-height: 1.5rem;
  font-weight: 400;
}

.body__wrapper {
  width: 100%;
  max-width: 1050px;
  background: #ffffff;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
  border-bottom: 3px solid #0062a6;
  border-top: 3px solid #0062a6;
}

/* Header Styles */

.logo {
  width: 100%;
  max-width: 300px;
  float: left;
}
.fb-like {
  float: right;
  margin-top: 1.25rem;
}

/* Hero Styles */

.hero {
/*  border-bottom: 1px solid #0062a6;*/
  border-top: 1px solid #0062a6;
  padding: 2rem 0;
  margin-top: 0.5rem;
}
.headline {
  margin-top: 0;
  color: #0062a6;
}
.highlight {
  color: #ee253c;
  font-weight: bold;
}

/* Store Styles */

.store {
  clear: both;
  margin-top: 1rem;
}
.copyright {
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

ul {
  maring: 0;
  padding: 0;
}
.store__menu__item {
  list-style: none;
  display: inline;
  color: #ee253c;
  cursor: pointer;
  margin: 0 0.5rem;
  text-decoration: underline;
}
.store__menu__item:first-child {
  margin-left: 0;
}
.store__menu__item:last-child {
  margin-right: 0;
}
.acive {
  display: block;
}
.inactive {
  display: none;
}

/* Banner Styles */

.banner__desktop img {
  width: 100%;
  height: auto;
}
.banner__mobile {
  display: none;
  background: #0062a6;
  padding: 0.5rem 1rem;
  border-bottom: 5px solid #025086;
}
.banner__mobile p {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
}
p.banner__disclaimer {
  font-size: 0.75rem;
  color: #82c0ef;
}
.banner__highlight {
  color: #feea08;
  font-weight: bold;
}

@media (max-width: 767px) {
  .logo {
    float: none;
    margin-bottom: 1rem;
  }
  .fb-like {
    display: none;
  }
  .banner__desktop {
    display: none;
  }
  .banner__mobile {
    display: block;
  }
}
@media (max-width: 413px) {
  body {
    margin: 0;
  }
  .body__wrapper {
    padding: 1rem;
  }
}
@media (max-width: 360px) {
  .store__menu__item {
    font-size: 0.875rem;
  }
}